html, body {
	margin: 0;
	padding: 0;
	min-width: 1103px;
	font-size: 100%;
	font-weight: lighter !important;
	background: grey;
}

#top_border {
	overflow: visible;
	width: 1103px;
	margin: 0 auto;
}

#border_menu {
	height: 58px;
	width: 65%;
	margin: 0 auto;
	overflow: visible;
}

#border_menu_top {
	overflow: hidden;
	background: red;
}

#border_menu_bottom {
	overflow: hidden;
	height: 56px;
	display: none;
	position: relative;
	z-index: 1;
}

#top_border #border_menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#top_border #border_menu ul li {
	width: 25%;
	float: left;
}

#top_border #border_menu #border_menu_bottom ul li {
	float: right;
}

#top_border #border_menu #border_menu_top ul li a {
	display: block;
	margin: 0 .25em 0;
	padding: 15px;
	border: 3px solid white;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	border-top: none;
	font: 22px Eraser;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: white;
	background: rgb(113, 121, 80);
}

#top_border #border_menu #border_menu_top ul li a:hover {
	color: #fc6;
	border-color: #fff;
}

#top_border #border_menu #border_menu_bottom ul li a {
	display: block;
	margin: 0 0 0.25em;
	padding: 10px;
	border: 3px solid white;
	border-radius: .5em;
	font: 14px Eraser;
	text-transform: lowercase;
	text-align: center;
	text-decoration: none;
	color: white;
	background: rgb(113, 121, 80);
}

#top_border #border_menu #border_menu_bottom ul li a:hover {
	color: rgb(242, 181, 242);
	border-color: #fff;
}

#site_body {
	border: 1px solid black;
	width: 100%;
	height: 800px;
	margin: 0 auto;
	background: white;
}

#chalkboard {
	height: 642px;
	width: 1103px;
	margin: 0 auto;
	background: url('../images/profile_pic_clear_board_only.png') no-repeat center top white;
	overflow: hidden;
}

.content {
	float: left;
	width: 100%;
	height: 100%;
	display: none;
}

#home_profile_pic {
	height: 100%;
	background: url('../images/profile_pic_girl_only.png') no-repeat;
}

#home_title {
	float: left;
	width: 65%;
	height: 100%;
	background: blue;
}

#projects_window {
	color: rgb(242, 247, 239);
	background-color: transparent;
}

	